html {
    background-color: #232B2B;
}
.welcome-container {
    padding: 20px;
  }
  
h1 {
    text-align: center;
    color: white;
    font-family: Georgia;
    margin-top: 30px;
    margin-bottom: 20px;
}

table {
    margin-top: 70px;
    width: 100%;
    border: 1px solid #50C878;
}
  
th, td {
    border: 1px solid #50C878;
    padding: 8px;
}

td {
    border: 1px solid #50C878;
    padding: 3px;
    color: #3b8132;
}
  
th {
    color: lightgreen;
}

  